# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log
*.ico
*.pkl
*.ini

# Distribution / packaging
.idea
dist
build
/temp


/*.exe
/*.png
/setup.py
/rpc_console.py
/console_erya/temp/*.png